* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	display: flex;
}

.phone_pic_container {
	background-color: #fff;
	width: 40%;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	position: relative;
}


.white_background {
	background-color:#fff;
	width: 25%;
	height: 20px;
	position: absolute;
	top: 60px;
	z-index: 1;
border-right: 2px solid #adacab;
border-bottom: 2px solid #adacab;
border-left: 2px solid #adacab;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.phone_pic_container .phone_pic {
	border: 2px solid #adacab;
	outline: 2px solid #adacab;
	outline-offset: 5px;
	width: 50%;
	height: 450px;
	border-radius: 20px;
	margin-top: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.phone_pic_container .circle {
	background-color: #adacab;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: absolute;
	top: 25px;
}

.phone_pic_container .phone_cut_edge {
	background-color: #fff;
	position: absolute;
	top: 0px;
	border-top: 0;
	width: 50%;
	height: 20px;
}

.phone_pic_container .small_rectangle {
	width: 60%;
	background-color: #adacab;
	height: 10px;
	position: absolute;
	top: 8rem;
	border-radius: 5px;
}

.phone_pic_container .smaller_rectangle {
	width: 40%;
	background-color: #adacab;
	height: 6px;
	position: absolute;
	top: 9rem;
	border-radius: 5px;
}

.child_container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	bottom: 20px;
}

.child_container .black_rectangle,
.red_rectangle,
.arch_rectangle,
.blue_rectangle {
	width: 90%;
	height: 40px;
	margin-top: 10px;
	border-radius: 5px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

.phone_pic_container .black_rectangle {
	background-color: black;
}

.phone_pic_container .red_rectangle {
	background-color: red;
}

.phone_pic_container .blue_rectangle {
	background-color: blue;
}
.phone_pic_container .arch_rectangle {
	background-color: #adacab;
}

.login_info_container {
	width: 60%;
	height: 600px;
	background-color: #fff;
	margin-left: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

h1 {
	position: absolute;
	top: 20px;
	left: 20px;
}

.one {
	position: absolute;
	top: 70px;
	left: 20px;
}

.two {
	position: absolute;
	top: 120px;
	border: 1px solid #580d6b;
	width: 90%;
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	color: #580d6b;
}

.Login_container {
	width: 90%;
	position: absolute;
	bottom: 85px;
}
.first_login_container,
.second_login_container {
	display: flex;
	flex-direction: column;
	background-color: #adacab;
	width: 100%;
	padding: 20px 10px;
	position: relative;
	margin-top: 10px;
	border-radius: 10px;
}

.remove {
	position: absolute;
	right: 10px;
}

select,
input {
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	outline: none;
	border: none;
}

.horiontal_line {
	background-color: #adacab;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 65px;
}

.btn {
	background-color: #3a2585;
	color: white;
	font-size: 13px;
	padding: 5px 15px;
	position: absolute;
	bottom: 35px;
	right: 10px;
	border-radius: 5px;
}
